.Rproj.user
.Rhistory
.RData
*.csv
*.CSV
~$*
*.sqlite-journal
*.sqlite
HALE/catch_duplicateID.RData
schema.ini
src/wetdry-analysis.R
Hawaii_data/*
!Hawaii_data/*.Rmd
!Hawaii_data/src/*
schema.ini
ASSP_share/ASSP_BANDING_database.xlsx
ASSP_share/ASSP_BANDING_database_2016.xlsx
ASSP_share/ASSP_BANDING_database_2018.xlsx
ASSP_share/ASSP_BANDING_SR_SBI_database_2014-2018.xlsx
ASSP_share/ASSP_CPUE_template.xlsx
BBL/Bandit_Submission_2018_v2.xlsx
HALE/outputs/allVegCover_events_eck16.pdf
HALE/outputs/baitBarsFill_eck23.pdf
HALE/outputs/baitBarsStack_eck23.pdf
HALE/outputs/elevFreq_eck16.pdf
HALE/outputs/elevProp_eck16.pdf
HALE/outputs/elevProp_preds_eck16.pdf
HALE/outputs/fitRain_events_eck19.pdf
HALE/outputs/fitRain_events_mo_eck19.pdf
HALE/outputs/fitTempPreds_eck19.pdf
HALE/outputs/monthProps_eck15.pdf
HALE/outputs/monthProps_preds_eck15.pdf
HALE/outputs/allVegCover_events_eck16.pdf
HALE/outputs/baitBarsFill_eck23.pdf
HALE/outputs/elevFreq_eck16.pdf
HALE/outputs/elevProp_eck16.pdf
HALE/outputs/elevProp_preds_eck16.pdf
HALE/outputs/fitRain_events_eck19.pdf
HALE/outputs/fitTempPreds_eck19.pdf
HALE/outputs/allVegCover_events_eck16.pdf
HALE/outputs/baitBarsFill_eck23.pdf
HALE/outputs/elevFreq_eck16.pdf
HALE/outputs/elevProp_eck16.pdf
HALE/outputs/elevProp_preds_eck16.pdf
HALE/outputs/fitRain_events_eck19.pdf
HALE/outputs/fitTempPreds_eck19.pdf
HALE/outputs/allVegCover_events_eck16.pdf
HALE/outputs/allVegCover_events_eck16.pdf
HALE/outputs/baitBarsFill_eck23.pdf
HALE/outputs/elevFreq_eck16.pdf
HALE/outputs/elevProp_eck16.pdf
HALE/outputs/elevProp_preds_eck16.pdf
HALE/outputs/fitRain_events_eck19.pdf
HALE/outputs/fitTempPreds_eck19.pdf
